# **NFL PLAYERS INJURIES**



In this notebook I try to make a table dataset for injuries prediction.
The data was taken from https://www.kaggle.com/competitions/nfl-playing-surface-analytics/data

In [1]:
import pandas as pd
#import numpy as np
#import matplotlib.pyplot as plt
#import seaborn as sns
#from matplotlib.pyplot import figure

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# Load the data

PlayerTrackData = pd.read_csv('/content/drive/MyDrive/PlayerTrackData.csv')
InjuryRecord = pd.read_csv('/content/drive/MyDrive/InjuryRecord.csv')
PlayList = pd.read_csv('/content/drive/MyDrive/PlayList.csv')

In [10]:
print(f'The length of PlayerTrackData is {len(PlayerTrackData)}')
PlayerTrackData.head()

The length of PlayerTrackData is 76366748

,PlayKey,time,event,x,y,dir,dis,o,s
0,26624-1-1,0.0,huddle_start_offense,87.46,28.93,288.24,0.01,262.33,0.13
1,26624-1-1,0.1,NaN,87.45,28.92,283.91,0.01,261.69,0.12
2,26624-1-1,0.2,NaN,87.44,28.92,280.40,0.01,261.17,0.12
3,26624-1-1,0.3,NaN,87.44,28.92,278.79,0.01,260.66,0.10
4,26624-1-1,0.4,NaN,87.44,28.92,275.44,0.01,260.27,0.09

In [11]:
print(f'The length of InjuryRecord is {len(InjuryRecord)}')
InjuryRecord.head()

The length of InjuryRecord is 105

,PlayerKey,GameID,PlayKey,BodyPart,Surface,DM_M1,DM_M7,DM_M28,DM_M42
0,39873,39873-4,39873-4-32,Knee,Synthetic,1,1,1,1
1,46074,46074-7,46074-7-26,Knee,Natural,1,1,0,0
2,36557,36557-1,36557-1-70,Ankle,Synthetic,1,1,1,1
3,46646,46646-3,46646-3-30,Ankle,Natural,1,0,0,0
4,43532,43532-5,43532-5-69,Ankle,Synthetic,1,1,1,1

In [12]:
print(f'The length of PlayList is {len(PlayList)}')
PlayList.head()

The length of PlayList is 267005

,PlayerKey,GameID,PlayKey,RosterPosition,PlayerDay,PlayerGame,StadiumType,FieldType,Temperature,Weather,PlayType,PlayerGamePlay,Position,PositionGroup
0,26624,26624-1,26624-1-1,Quarterback,1,1,Outdoor,Synthetic,63,Clear and warm,Pass,1,QB,QB
1,26624,26624-1,26624-1-2,Quarterback,1,1,Outdoor,Synthetic,63,Clear and warm,Pass,2,QB,QB
2,26624,26624-1,26624-1-3,Quarterback,1,1,Outdoor,Synthetic,63,Clear and warm,Rush,3,QB,QB
3,26624,26624-1,26624-1-4,Quarterback,1,1,Outdoor,Synthetic,63,Clear and warm,Rush,4,QB,QB
4,26624,26624-1,26624-1-5,Quarterback,1,1,Outdoor,Synthetic,63,Clear and warm,Pass,5,QB,QB

**Cleaning**

In [13]:
InjuryRecord = InjuryRecord.sort_values('PlayerKey').dropna()

In [14]:
InjuryRecord.reset_index(inplace=True)

In [15]:
InjuryRecord.drop(columns='index', inplace=True)
InjuryRecord.head()

,PlayerKey,GameID,PlayKey,BodyPart,Surface,DM_M1,DM_M7,DM_M28,DM_M42
0,31070,31070-3,31070-3-7,Knee,Natural,1,1,1,1
1,33337,33337-8,33337-8-15,Foot,Natural,1,1,1,0
2,33474,33474-19,33474-19-7,Knee,Natural,1,1,1,0
3,34347,34347-5,34347-5-9,Knee,Natural,1,1,0,0
4,35570,35570-15,35570-15-35,Knee,Natural,1,1,0,0

In [ ]:
# Getting the data of the injured players from PlayerTrackData
l = len(PlayerTrackData)
ind = []
mid = 0
for i in InjuryRecord.index:
  keyI = InjuryRecord['PlayKey'][i][:5]
  #print(keyI)
  high = int(l-210000)
  low = mid + 1
  while(high>=low):
    mid = int((high + low)/2)
    keyD = PlayerTrackData['PlayKey'][mid][:5]
    if keyD == keyI:
      ind.append(mid)
      #print(mid)
      mid2 = mid
      mid3 = mid
      while PlayerTrackData['PlayKey'][mid2+1][:5]==keyI:
        mid2+=1
        ind.append(mid2)
        #print(mid2)
      while PlayerTrackData['PlayKey'][mid3-1][:5]==keyI:
        mid3-=1
        ind.append(mid3)
        #print(mid3)

      break
    elif int(keyD) > int(keyI):
      high = mid - 1
    else:
      low = mid +1

In [17]:
ind.sort()

In [18]:
D = pd.DataFrame(data={'Key': PlayerTrackData['PlayKey'][ind], 'time': PlayerTrackData['time'][ind], 'event': PlayerTrackData['event'][ind], \
                       'x': PlayerTrackData['x'][ind], 'y': PlayerTrackData['y'][ind], 'o': PlayerTrackData['o'][ind], 's': PlayerTrackData['s'][ind], \
                       'dir': PlayerTrackData['dir'][ind], 'dis': PlayerTrackData['dis'][ind]})

In [19]:
D.head()

               Key  time      event      x      y       o     s     dir  dis
2052171  31070-1-1   0.0  punt_play  81.81  24.11  188.39  0.01  105.35  0.0
2052172  31070-1-1   0.1        NaN  81.81  24.11  188.27  0.01  121.27  0.0
2052173  31070-1-1   0.2        NaN  81.81  24.11  188.14  0.01  131.28  0.0
2052174  31070-1-1   0.3        NaN  81.82  24.11  188.00  0.02  137.59  0.0
2052175  31070-1-1   0.4        NaN  81.82  24.11  187.84  0.02  141.81  0.0

In [20]:
D2 = D.reset_index().drop(columns=['index'])
D2.head()

         Key  time      event      x      y       o     s     dir  dis
0  31070-1-1   0.0  punt_play  81.81  24.11  188.39  0.01  105.35  0.0
1  31070-1-1   0.1        NaN  81.81  24.11  188.27  0.01  121.27  0.0
2  31070-1-1   0.2        NaN  81.81  24.11  188.14  0.01  131.28  0.0
3  31070-1-1   0.3        NaN  81.82  24.11  188.00  0.02  137.59  0.0
4  31070-1-1   0.4        NaN  81.82  24.11  187.84  0.02  141.81  0.0

In [21]:
print(f'The length of D2 is {len(D2)}')

The length of D2 is 18894407

**Data reduction**

In [ ]:
# option 1
# reduction per attack
deltaT = []
deltaX = []
deltaY = []
TopSpeed = []
avgSpeed = []
maxAngle = []
keyP = []
t=0
d=D2['dis'][0]
sp = 0
angle = 0
distance = []
for i in D2.index+1:
  if D2['Key'][i-1][-2:]==D2['Key'][i][-2:]:
    x = min(abs(360-D2['dir'][i-1]+D2['dir'][i]), abs(360-D2['dir'][i]+D2['dir'][i-1]), abs(D2['dir'][i-1]-D2['dir'][i]))
    if angle < x:
      angle = x
    if sp < D2['s'][i]:
      sp = D2['s'][i]
    t+=D2['time'][i]-D2['time'][i-1]
    d+=abs(D2['dis'][i-1]-D2['dis'][i])
  else:
    #print(D2['Key'][i-1])
    keyP.append(D2['Key'][i-1])
    TopSpeed.append(sp)
    sp = 0
    maxAngle.append(angle)
    angle = 0
    deltaT.append(t)
    distance.append(d)
    t=0
    d=D2['dis'][i]
  if i==D2.index[-1]:
    break

In [ ]:
# option 2
# reduction per event  
deltaT = []
deltaX = []
deltaY = []
TopSpeed = []
avgSpeed = []
maxAngle = []
keyP = []
t=0
d=D2['dis'][0]
sp = 0
angle = 0
distance = []
for i in D2.index+1:
  x = min(abs(360-D2['dir'][i+1]+D2['dir'][i]), abs(360-D2['dir'][i]+D2['dir'][i+1]), abs(D2['dir'][i+1]-D2['dir'][i]))
  if pd.isna(D2['event'][i]):
    if angle < x:
      angle = x
    if sp < D2['s'][i]:
      sp = D2['s'][i]
    t+=D2['time'][i+1]-D2['time'][i]
    d+=abs(D2['dis'][i+1]-D2['dis'][i])
  else:
    keyP.append(D2['Key'][i-1])
    TopSpeed.append(sp)
    sp = 0
    maxAngle.append(angle)
    angle = 0
    deltaT.append(t)
    distance.append(d)
    t=0
    d=D2['dis'][i]
  if i==D2.index[-2]:
    break

In [23]:
keyP.append(D2['Key'][i-1])
TopSpeed.append(sp)
maxAngle.append(angle)
deltaT.append(t)
distance.append(d)

In [24]:
I = pd.DataFrame(data={'Key': keyP, 'time': deltaT, 'dis': distance, 'TopSpeed': TopSpeed, 'maxAngle': maxAngle})

In [26]:
I.head()

         Key  time   dis  TopSpeed  maxAngle
0  31070-1-1  29.5  2.85      5.30     32.43
1  31070-1-2  60.6  9.14      6.29    100.55
2  31070-1-3  42.0  6.25      5.25    140.91
3  31070-1-4  53.2  6.19      6.15     76.05
4  31070-1-5  33.9  2.93      6.08    163.28

In [27]:
I2 = I.reset_index().drop(columns='index')
I2.head()

         Key  time   dis  TopSpeed  maxAngle
0  31070-1-1  29.5  2.85      5.30     32.43
1  31070-1-2  60.6  9.14      6.29    100.55
2  31070-1-3  42.0  6.25      5.25    140.91
3  31070-1-4  53.2  6.19      6.15     76.05
4  31070-1-5  33.9  2.93      6.08    163.28

In [28]:
print(f'The length of I2 is {len(I2)}')

The length of I2 is 62976

**Body part column**

In [29]:
bp = []
#sur = []
s=0
for k in I2.index:
  flag = 0
  for j in InjuryRecord.index:
    if I2['Key'][k] == InjuryRecord['PlayKey'][j]:
      #if I2['Key'][k][:8] == InjuryRecord['PlayKey'][j][:8]:
        #sur.append(InjuryRecord['Surface'][j])
      flag = 1
      s+=1
      break
    
  if flag == 1:
    bp.append(InjuryRecord['BodyPart'][j])
    
  else:
    bp.append('health')

In [30]:
len(bp)

62976

In [ ]:
PlayList.head()

,PlayerKey,GameID,PlayKey,RosterPosition,PlayerDay,PlayerGame,StadiumType,FieldType,Temperature,Weather,PlayType,PlayerGamePlay,Position,PositionGroup
0,26624,26624-1,26624-1-1,Quarterback,1,1,Outdoor,Synthetic,63,Clear and warm,Pass,1,QB,QB
1,26624,26624-1,26624-1-2,Quarterback,1,1,Outdoor,Synthetic,63,Clear and warm,Pass,2,QB,QB
2,26624,26624-1,26624-1-3,Quarterback,1,1,Outdoor,Synthetic,63,Clear and warm,Rush,3,QB,QB
3,26624,26624-1,26624-1-4,Quarterback,1,1,Outdoor,Synthetic,63,Clear and warm,Rush,4,QB,QB
4,26624,26624-1,26624-1-5,Quarterback,1,1,Outdoor,Synthetic,63,Clear and warm,Pass,5,QB,QB

In [ ]:
# Getting the data of the injured players from PlayerTrackData
ind2 = []
mid = 0
for i in InjuryRecord.index:
  keyI = InjuryRecord['PlayKey'][i][:5]
  #print(keyI)
  high = len(PlayList)
  low = 0
  while(high>=low):
    mid = int((high + low)/2)
    keyD = PlayList['PlayKey'][mid][:5]
    if keyD == keyI:
      
      ind2.append(mid)
      #print(mid)
      mid2 = mid
      mid3 = mid
      while PlayList['PlayKey'][mid2+1][:5]==keyI:
        mid2+=1
        ind2.append(mid2)
        #print(mid2)
      while PlayList['PlayKey'][mid3-1][:5]==keyI:
        mid3-=1
        ind2.append(mid3)
        #print(mid3)
      
      #df['PlayKey'][mid] = '0'
      break
    elif int(keyD) > int(keyI):
      high = mid - 1
    else:
      low = mid +1

In [32]:
len(ind2)

66511

In [33]:
ind2.sort()

In [34]:
PlayList2 = pd.DataFrame(data={'PlayKey': PlayList['PlayKey'][ind2], 'RosterPosition': PlayList['RosterPosition'][ind2], \
                               'FieldType': PlayList['FieldType'][ind2], 'PlayType': PlayList['PlayType'][ind2]})

In [35]:
(PlayList2.reset_index(inplace=True))
PlayList2.drop(columns='index', inplace=True)
PlayList2.head()

     PlayKey RosterPosition FieldType PlayType
0  31070-1-1   Running Back   Natural     Punt
1  31070-1-2   Running Back   Natural     Pass
2  31070-1-3   Running Back   Natural     Pass
3  31070-1-4   Running Back   Natural     Pass
4  31070-1-5   Running Back   Natural     Pass

In [36]:
i, j = 0, 0
FieldType = []
RosterPosition = []
PlayType = []
while(j < len(PlayList2) and i < len(I2)):
  #keyI = I2['Key']
  #keypl = PlayList['PlayKey']
  while (i < len(I2) and I2['Key'][i] == PlayList2['PlayKey'][j]):
    FieldType.append(PlayList2['FieldType'][j])
    RosterPosition.append(PlayList2['RosterPosition'][j])
    PlayType.append(PlayList2['PlayType'][j])
    i+=1
  j+=1

## **The final dataset**

In [37]:
Fdf = pd.DataFrame(data={'Key': I2['Key'], 'time': I2['time'], 'dis': distance, 'TopSpeed': TopSpeed, \
                         'maxAngle': maxAngle, 'BodyPart': bp, 'FieldType': FieldType, 'RosterPosition': RosterPosition, 'PlayType': PlayType})

In [38]:
Fdf.head()

,Key,time,dis,TopSpeed,maxAngle,BodyPart,FieldType,RosterPosition,PlayType
0,31070-1-1,29.5,2.85,5.30,32.43,health,Natural,Running Back,Punt
1,31070-1-2,60.6,9.14,6.29,100.55,health,Natural,Running Back,Pass
2,31070-1-3,42.0,6.25,5.25,140.91,health,Natural,Running Back,Pass
3,31070-1-4,53.2,6.19,6.15,76.05,health,Natural,Running Back,Pass
4,31070-1-5,33.9,2.93,6.08,163.28,health,Natural,Running Back,Pass

In [39]:
len(Fdf)

62976

In [ ]:
Fdf['BodyPart'].value_counts()

health    62902
Ankle        34
Knee         33
Foot          6
Name: BodyPart, dtype: int64

In [ ]:
Fdf.to_csv('finalDataPerAttack.csv')